/* MAIN BACKGROUND */
body {
    background-image: url("../Images/TropiGlow Web BG.jpeg");
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}

/* HEADER IMAGE */
.hdrstyle {
    background-image: url("../Images/Home Page BG.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; 
    display: block; 
    overflow: hidden;
}

/* NAV BAR */
.navbar {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    position: sticky;                     
    top: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    gap: 20px;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #D31C8D;
    cursor: pointer;
}

.nav-icons img {
    height: 24px;           
    width: auto;
    display: block;
}

.nav-icons i:hover{
    color: #f15e94;
}

/* WELCOME TEXT  */
.hero {
    padding: 80px 40px; 
    text-align: center; 
}

/* LOGO & LINKS */
.logo img { height: 60px; }
.nav-links { display: flex; gap: 30px; }
.nav-links a { 
    text-decoration: none; 
    color: #D31C8D; 
    font-weight: bold; 
}

/* TEXT STYLES */
h1 { font-family: 'Times New Roman', serif; color: #D31C8D; font-size: 3rem; }
p { color: #f15e94; font-style: italic; font-size: 1.2rem; }

/* SEARCH BAR */
.searchbar{
    display: flex;
    gap: 5px;
}


/* TEXT STYLES */
h1, h2, h3, h4{
    font-family:'Times New Roman', Times, serif;
    color: #D31C8D;
}

p{
    color: #f15e94;
    font-style: normal;
    font-weight: 500;
}

/* HOVER EFFECT */
a:hover{
    color: #D31C8D;
}

/* USER MENU */
.user-menu{
    position: relative;
}

/* DROPDOWN BOX */
.dropdown{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-direction: column;
    min-width: 120px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dropdown a{
    text-decoration: none;
    color: #D31C8D;
    padding: 8px;
    display: block;
}

.dropdown a:hover{
    background-color: #fce4ec;
}

.user-menu:hover .dropdown{
    display: flex;
}
